* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --principal:#eadc98;
    --second: #4c2837;
    --third: #170f11;
    --fourth:#394c5d;
    --fifth: #e18340;
    --sixth: #a99c68;
    --white: #FFFFFF;
    --invalid : rgba(211, 8, 8,0.5);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--third);
}

button {
    cursor: pointer;
}

.footer {
    padding: 1rem;
}


.header {
    align-items: center;
    background-color: var(--principal);
    display: flex;
    justify-content: right;
    padding: 1rem;
}

.header-info {
    margin-right: 1rem;
}

.sideBar {
    background-color: var(--second);
    height: 100%;
    width: 250px;
}