* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --principal:#eadc98;
    --second: #4c2837;
    --third: #170f11;
    --fourth:#394c5d;
    --fifth: #e18340;
    --sixth: #a99c68;
    --white: #FFFFFF;
    --invalid : rgba(211, 8, 8,0.5);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--third);
}

button {
    cursor: pointer;
}

.box {
    align-items: center;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(57,76,93,0.7);
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 2rem;
    width: 30%;
}

.box-section i{
    color: var(--fourth);
    font-size: 1.5rem;
}

.footer {
    padding: 1rem;
}


.header {
    align-items: center;
    background-color: var(--principal);
    display: flex;
    justify-content: right;
    padding: 1rem;
}

.header-info {
    margin-right: 1rem;
}

.main {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navBar {
    width: 100%;
}

.navBar-li{
    background-color: var(--fourth);
    padding: 1rem;
    text-align: center;
    transition: all 500ms;
    width: 100%;
}

.navBar-li:hover{
    background-color: rgba(57,76,93,0.7)
}

.navBar-li a{
    color: var(--white);
    font-weight: bold;
}

.navBar-options {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 0;

}